<form action="/">
<button type="submit">Back to Home</button>
</form>

<h1>{{user}}</h1>
<h2>Repository: {{repo}}</h2>
<img src="{{pic}}" style="width: 10%;">


{{#with user_info}}
<p><strong>Username: </strong>{{login}}</p>
<p><strong>Id: </strong>{{id}}</p>
<p><strong>URL: </strong><a href="{{url}}">{{url}}</a></p>
{{/with}}

{{#if issues}}
    <h3>Issues</h3>
    <table>
        <thead>
            <tr>
                <th>Issue</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {{#each issues}}
                {{#with this}}
                    <tr>
                        <td>{{@key}}</td>
                        <td>{{.}}</td>
                    </tr>
                {{/with}}
            {{/each}}
        </tbody>
    </table>
{{else}}
<strong><p>No issues for this repo.</p></strong>
{{/if}}