<form action="/">
<button type="submit">Back to Home</button>
</form>
<h1>{{user}}</h1>
<h2>Repository: {{repo}}</h2>
<img src="{{pic}}" style="width: 10%;">


{{#with user_info}}
<p><strong>Username: </strong>{{login}}</p>
<p><strong>Id: </strong>{{id}}</p>
<p><strong>URL: </strong><a href="{{url}}">{{url}}</a></p>
{{/with}}

{{#if openIssues}}
<h3>Open Issues</h3>
<div style="height:250px;width:450px;border:1px solid #4e4e4e;font:16px Arial, Serif;overflow:auto;">
{{#each openIssues}}
    <p>{{this}}</p>
{{/each}}
</div>
{{/if}}

{{#if closedIssues}}
<h3>Closed Issues</h3>
<div style="height:250px;width:450px;border:1px solid #4e4e4e;font:16px Arial, Serif;overflow:auto;">
{{#each closedIssues}}
    <p>{{this}}</p>
{{/each}}
</div>
{{/if}}
